src/main/app/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config xmlns:http="http://www.mulesoft.org/schema/mule/http" name="hotalsearch-httpListenerConfig" host="localhost" port="8082" doc:name="HTTP Listener Configuration"/>
    <apikit:config xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" name="hotalsearch-config" raml="hotalsearch.raml" consoleEnabled="false" doc:name="Router"/>
    <http:request-config name="HTTP_Request_Configuration" host="${http.host}" port="${http.port}" doc:name="HTTP Request Configuration"/>
    <flow name="hotalsearch-main">
        <http:listener xmlns:http="http://www.mulesoft.org/schema/mule/http" config-ref="hotalsearch-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" config-ref="hotalsearch-config" doc:name="APIkit Router"/>
        <exception-strategy ref="hotalsearch-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>

    <flow name="get:/hotalsearch:hotalsearch-config">
        <flow-ref name="getHotels" doc:name="Flow Reference"/>

    </flow>
    <apikit:mapping-exception-strategy xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" name="hotalsearch-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-variable variableName="exception" value="#[exception]" doc:name="Variable"/>
            <dw:transform-message doc:name="Transform Message">
                <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	
	error: {
		message: flowVars.exception.message,
		code: 404,
		reason: 'Resource not found'
	}
}]]></dw:set-payload>
            </dw:transform-message>

        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-variable variableName="exception" value="#[exception]" doc:name="Variable"/>
            <dw:transform-message doc:name="Transform Message">
                <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	
	error: {
		message: flowVars.exception.message,
		code: 405,
		reason: 'Method not allowed'
	}
}]]></dw:set-payload>
            </dw:transform-message>

        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-variable variableName="exception" value="#[exception]" doc:name="Variable"/>
            <dw:transform-message doc:name="Transform Message">
                <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	
	error: {
		message: flowVars.exception.message,
		code: 415,
		reason: 'Unsupported media type'
	}
}]]></dw:set-payload>
            </dw:transform-message>

        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-variable variableName="exception" value="#[exception]" doc:name="Variable"/>
            <dw:transform-message doc:name="Transform Message">
                <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	
	error: {
		message: flowVars.exception.message,
		code: 406,
		reason: 'Not acceptable'
	}
}]]></dw:set-payload>
            </dw:transform-message>

        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-variable variableName="exception" value="#[exception]" doc:name="Variable"/>
            <dw:transform-message doc:name="Transform Message">
                <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	
	error: {
		message: flowVars.exception.message,
		code: 400,
		reason: 'BadRequest'
	}
}]]></dw:set-payload>
            </dw:transform-message>

        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
